body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

footer {
    padding: 2% 2% 2%;
    text-align: center;
}

.footer-icon {
    color: white;
    padding: 1%;
}

.white {
    background-color: white;
    color: black;
}

.coloured {
    background-color: black;
    color: white;
}

.container-fluid {
    padding: 2% 7%
}

/*
    Home Page Styling
*/

.big-heading {
    color: white;
    font-size: 14rem;
    text-align: center;
    font-weight: bold;
}

.spaced{
    letter-spacing: 0.1em
}

.normal-heading {
    font-size: 2rem;
    font-weight: bold;
    margin: 5% 0;
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .big-heading {
    font-size: 9rem;
  }
}

@media screen and (max-width: 900px) {
  .big-heading {
    font-size: 4.8rem;
  }
}

@media screen and (max-width: 767px) {
    .player-text {
        margin-left: 0;
    }
}

.home-row {
    margin: 5% 20% 5%;
    align-items: center;
}

.home-icon {
    padding: 0 2%;
}

.left-image {
    width: 80%;
    float: left;
}

.right-image {
    width: 70%;
    float: right;
}

.right-text {
    text-align: right;
}

/*
    Players Page
*/

.medium-heading {
    font-weight: bold;
    padding: 2% 0;
}

.player-card {
    margin: 5% 20% 5%;
    text-align: center;
    font-weight: bold;
}

.player-card-text {
    display: inline-block;
    text-align: left;
    margin: auto;
    width: 200px;
    padding-bottom: 1.5%;
}

.players-image {
    border-radius: 50%;
    width: 40%;
    padding: 5% 0;
}

/*
    Awards Page
*/

.awards-image {
    width: 25%;
}

.awards-card {
    text-align: center;
    font-weight: bold;
}

.awards-col{
    margin: 5% 0;
}

/*
    Team Stats Page
*/

.team-stats {
    text-align: center;
}

.team-graph {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    display: inline-block;
}

@media screen and (min-width: 1000px) {
    .team-graph {
        height: 80%;
        width: 80%;
    }
}