{% extends 'base.html' %}
{% block title %}Awards{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="big-heading">AWARDS</h1>
            </div>
        </div>
    </div>
    <section id="awards">
        <div class="container-fluid white">
            {% for award in awards_data %}
                {% if loop.index0 % 3 == 0 %}
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="card awards-card">
                                <div class="card-header coloured">
                                    <h3>{{ awards_data[award][1] }}</h3>
                                </div>
                                <div class="card-body">
                                    <img class="awards-image" src="../static/img/awards/{{ award }}.png" alt="players-image">
                                    <div class="card-text">
                                        <h2 class="card-subtitle mb-2">{{ awards_data[award][3] }}</h2>
                                        <p class="card-subtitle mb-2">DESCRIPTION</p>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-outline-dark btn-lg btn-block card-link" type="button">View's Stats</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif loop.index0 % 3 == 1 %}
                        <div class="col-lg-4 col-md-6">
                            <div class="card awards-card">
                                <div class="card-header coloured">
                                    <h3>{{ awards_data[award][1] }}</h3>
                                </div>
                                <div class="card-body">
                                    <img class="awards-image" src="../static/img/awards/{{ award }}.png" alt="players-image">
                                    <div class="card-text">
                                        <h2 class="card-subtitle mb-2">{{ awards_data[award][3] }}</h2>
                                        <p class="card-subtitle mb-2">DESCRIPTION</p>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-outline-dark btn-lg btn-block card-link" type="button">View's Stats</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif loop.index0 % 3 == 2 %}
                        <div class="col-lg-4 col-md-6">
                            <div class="card awards-card">
                                <div class="card-header coloured">
                                    <h3>{{ awards_data[award][1] }}</h3>
                                </div>
                                <div class="card-body">
                                    <img class="awards-image" src="../static/img/awards/{{ award }}.png" alt="players-image">
                                    <div class="card-text">
                                        <h2 class="card-subtitle mb-2">{{ awards_data[award][3] }}</h2>
                                        <p class="card-subtitle mb-2">DESCRIPTION</p>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-outline-dark btn-lg btn-block card-link" type="button">View's Stats</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}