{% extends 'base.html' %}
{% block title %}WeezingtonSilva{% endblock %}
{% block content %}
    <div class="container">
        <h1>Welcome to Weez</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6-md-6">
                <img class="home_images" src="../static/img/hunter_operator.png" alt="hunter">
            </div>
            <div class="col-lg-6-md-6">
                <h2>Player Stats</h2>
                <p>View Individual Player Stats</p>
                <p>View GN</p>
                <p>View Awards</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6-md-6">
                <img class="home_images" src="../static/img/team.jpg" alt="team">
            </div>
            <div class="col-lg-6-md-6">
                <h2>Team Stats</h2>
                <p>View Total Team Stats</p>
                <p>View Average Team Stats Per Game</p>
            </div>
        </div>
    </div>
{% endblock %}