{% extends 'base.html' %}
{% block title %}WeezingtonSilva{% endblock %}
{% block content %}
    <div class="container">
        <h1>Welcome to Weez</h1>
    </div>
    <div class="container">
        <h2>Player Stats</h2>
        <img src="../static/img/hunter_operator.png" alt="hunter">
        <p>View Individual Player Stats</p>
        <p>View GN</p>
        <p>View Awards</p>
        <img src="../static/img/team.jpg" alt="team">
        <p>View Total Team Stats</p>
        <p>View Average Team Stats Per Game</p>
    </div>
{% endblock %}