{% extends 'base.html' %}
{% block title %}WeezingtonSilva{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                    <h1 class="big-heading">WELCOME TO WEEZ</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid white">
        <div class="row home-row">
            <div class="col-lg-6 col-md-6">
                <img class="left-image" src="../static/img/player.png" alt="player">
            </div>
            <div class="col-lg-6 col-md-6 left-text">
                <h3 class="normal-heading">Player Stats</h3>
                <p><i class="fas fa-fire home-icon"></i> Kills</p>
                <p><i class="fas fa-skull home-icon"></i> Deaths</p>
                <p><i class="fas fa-hands-helping home-icon"></i> Assists</p>
                <p><i class="fas fa-star-half-alt home-icon"></i> K/D Ratio</p>
            </div>
        </div>
        <div class="row home-row">
            <div class="col-lg-6 col-md-6 right-text">
                <h3 class="normal-heading">Team Stats</h3>
                <p>Total Team Stats <i class="fas fa-users home-icon"></i></p>
                <p>Average Team Stats Per Game <i class="fas fa-chart-line home-icon"></i></p>
                <p>Team Analysis <i class="fas fa-chart-pie home-icon"></i></p>
            </div>
            <div class="col-lg-6 col-md-6">
                <img class="right-image" src="../static/img/team.png" alt="team">
            </div>
        </div>
        <div class="row home-row">
            <div class="col-lg-6 col-md-6">
                <img class="left-imagex" src="../static/img/awards.png" alt="awards">
            </div>
            <div class="col-lg-6 col-md-6 left-text">
                <h3 class="normal-heading">Awards</h3>
                <p><i class="fas fa-crosshairs home-icon"></i> Lethal Killer</p>
                <p><i class="fas fa-dog home-icon"></i> Bullet Bitch</p>
                <p><i class="fas fa-paw home-icon"></i> Gummy Bear</p>
                <p><i class="fas fa-shield-alt home-icon"></i> Tank</p>
            </div>
        </div>
    </div>
{% endblock %}