{% extends 'base.html' %}
{% block title %}Players{% endblock %}
{% block content %}
    <section id="players" class="coloured">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="big-heading spaced">PLAYERS</h1>
                </div>
            </div>
        </div>
        <div id="players-carousel" class="carousel carousel-dark slide white" data-bs-ride="carousel" data-interval="1000">
            <div class="carousel-inner">
                {% for player in players %}
                    {% if loop.index == 1 %}
                        <div class="carousel-item container-fluid active">
                    {% else %}
                        <div class="carousel-item container-fluid">
                    {% endif %}
                        <div class="card">
                            <div class="card-header">
                                <h3 class="medium-heading">{{ player['player'] }}</h3>
                            </div>
                            <div class="card-body">
                                <img class="players-image" src="../static/img/players/{{ player['player'] }}.jpeg" alt="players-image">
                                <div class="card-text">
                                    <h2 class="medium-heading card-subtitle mb-2">Total Stats</h2>
                                    <p><i class="fas fa-gamepad home-icon"></i>Games Played: {{ display_stats[player['player']]['games_played'] }}</p>
                                    <p><i class="fas fa-fire home-icon"></i>Kills: {{ display_stats[player['player']]['kills'] }}</p>
                                    <p><i class="fas fa-skull home-icon"></i>Deaths: {{ display_stats[player['player']]['deaths'] }}</p>
                                    <p><i class="fas fa-hands-helping home-icon"></i>Assists: {{ display_stats[player['player']]['assists'] }}</p>
                                    <p><i class="fas fa-star-half-alt home-icon"></i>K/D Ratio: {{ (display_stats[player['player']]['kills'] / display_stats[player['player']]['deaths'])|round(2) }}</p>
                                </div>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-outline-dark btn-lg btn-block card-link" type="button">View Stats</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            <button class="carousel-control-prev" type="button" data-bs-target="#players-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#players-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
{% endblock %}