{% extends 'base.html' %}
{% block title %}{{ heading.title() }}{% endblock %}
{% block content %}
    <section id="total-team-stats">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="big-heading">{{ heading }}</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid white team-stats">
            {% for key, value in data.items() %}
                <div class="row">
                    <h3>{{ key }}</h3>
                </div>
                <div class="row team-graph">
                    <canvas id="{{ key }}">
                        <script>
                            var ctx = document.getElementById('{{key}}').getContext('2d');
                            var lineChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: {{ labels | safe }},
                                    datasets: [
                                        {
                                            label: '{{ key | safe }}',
                                            data : {{ value | safe }},
                                            fill: true,
                                            borderColor: 'rgb(0, 0, 0)',
                                            lineTension: 0.5,
                                        }
                                    ]
                                },
                                options: {
                                    responsive: true,
                                }
                            });
                        </script>
                    </canvas>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}