{% extends 'base.html' %}
{% block title %}Total Team Stats{% endblock %}
{% block content %}
    <section id="total-team-stats">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="big-heading">TEAM STATS</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid white">
            {% for key, value in data.items() %}
                <h3>{{ key }}</h3>
                <canvas id="{{ key }}" width="900" height="400">
                    <script>
                        var ctx = document.getElementById('{{key}}').getContext('2d');
                        var lineChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: {{ labels | safe }},
                                datasets: [
                                    {
                                        label: '{{ key | safe }}',
                                        data : {{ value | safe }},
                                        fill: true,
                                        borderColor: 'rgb(0, 0, 0)',
                                        lineTension: 0.5,
                                    }
                                ]
                            },
                            options: {
                                responsive: false
                            }
                        });
                    </script>
                </canvas>
            {% endfor %}
        </div>
    </section>
{% endblock %}